@import '../fonts';
@import '../colors';
.nav
{
    $root:&;
    
    &__list
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 88px;
        border-bottom: 1px solid $minor;

    }
    &__list__item
    {   @include bold(18px,$minor);
        list-style: none;
        cursor: pointer;
    }
    &__list__item:first-child
    {   color:$primery;
    }
}
.presentation
{
    $root:&;
    &-wrap
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 40px;
    }
    &__name
    {
        @include bold(48px,$primery);
        margin-bottom: -13px;
    }

    &__except
    {
        @include regular (18px, $primery);
        
    }
   
    &__language
    {
        transform: rotate(-90deg);
        margin-right: -48px;
        padding-left: 50px;
        text-transform: uppercase;
        @include bold(16px, $primery);
        cursor: pointer;
    }
    &__language span:not(:last-child) 
    {
        @include bold(16px, $minor);
        margin-right: 3px;
    }
    &__img
    {
        display: flex;
        justify-content: center;
        margin: 50px 0 105px 0;
    }

}